<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>华夏online</title>
  </head>
  <body>
    <h1 align="center"><big>B&ensp;O&ensp;S&ensp;S<big></h1>
    <hr>
    <table width="20%" border="0" align="center" cellpadding="0" cellspacing="0">
              <tr>
                <td><table>
                    <tr bgColor="#000000">
                      <td vAlign="top" align="middle" width="75%"> <table class="border5" borderColor="#ffffff" cellSpacing="0" cellPadding="0" width="1463" border="0">
                          <tbody>
                            <tr>
                              <td borderColor="#000000" bgColor="#000000"> <div align="center">
                                  <img height="387" src="http://images.17173.com/hx/images/monster/pic/001.gif" width="569">
                                </div></td>
                            </tr>
                            <tr>
                              <td borderColor="#000000" bgColor="#000000"> <div class="style20" align="center">
                                  延&nbsp;&nbsp;&nbsp;&nbsp;维 </div></td>
                            </tr>
                            <tr>
                              <td vAlign="top" borderColor="#000000" align="middle" bgColor="#000000">
                                <table width="1000" border="5" align="center" cellPadding="10" cellSpacing="3">
                                  <tbody>
                                    <tr>
                                        <h2 style="font-family:arial;color:#FFFF99;font-size:20px;"><big><em><u>&ensp;延&ensp;维&ensp;</u>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;</em><big></h2>
                                      <td><span class="border style23"><p style="font-family:arial;color:#ff8000;font-size:20px;">&ensp;&ensp;&ensp;&ensp;&ensp;统帅女娲庙附近怪物的邪神，人首蛇身，左右各有一个头，喜好紫色服饰，戴着毛毡制成的大帽子。延维有遁地的能力，能够出人意料的突然出现在敌人的背后。延维可以以拳击地，弹出石锥攻击敌人，但是对魔法一窍不通，所以将法师视为克星。</p></span></td>
                                    </tr>
                                  </tbody>
                                </table></td>
                            </tr>
                          </tbody>
                        </table></td>
                    </tr>
                    <tr bgColor="#000000">
                      <td vAlign="top" align="middle"> <table class="border5" borderColor="#666633" cellSpacing="40" cellPadding="0" width="369" border="0">
                          <tbody>
                            <tr>
                              <td borderColor="#000000" bgColor="#000000"> <div align="center">
                                  <img height="387" src="http://images.17173.com/hx/images/monster/pic/002.gif" width="569">
                                </div></td>
                            </tr>
                            <tr>
                              <td borderColor="#000000" bgColor="#000000"> <div class="style20" align="center">
                                  帝&nbsp;&nbsp;&nbsp;江 </div></td>
                            </tr>
                            <tr>
                              <td vAlign="top" borderColor="#000000" align="middle" bgColor="#000000">
                                <table width="1000" border="5" align="center" cellPadding="10" cellSpacing="3">
                                  <tbody>
                                    <tr>
                                       <h2 style="font-family:arial;color:#FFFF99;font-size:20px;"><big><em><u>&ensp;帝&ensp;江&ensp;</u></em><big></h2>
                                          <td><span class="border style23"><p style="font-family:arial;color:#ff8000;font-size:20px;">&ensp;&ensp;&ensp;&ensp;&ensp;帝江为中国古代传说中的一只妖怪，出自《山海经》。据《山海经》记载：又西三百五十里曰天山，多金玉，有青雄黄，英水出焉，而西南流注于汤谷。有神焉，其状如黄囊，赤如丹火，六足四翼，混敦无面目，是识歌舞，实为帝江也。古书中“江”读为“鸿”，也就是帝鸿。</p></span></td>
                                    </tr>
                                  </tbody>
                                </table></td>
                            </tr>
                          </tbody>
                        </table></td>
                    <tr>
                    <tr bgColor="#000000">
                      <td vAlign="top" align="middle"> <table class="border5" borderColor="#666633" cellSpacing="0" cellPadding="0" width="369" border="0">
                          <tbody>
                            <tr>
                              <td borderColor="#000000" bgColor="#000000"> <div align="center">
                                  <img height="487" src="http://images.17173.com/hx/images/monster/pic/003.gif" width="669">
                                </div></td>
                            </tr>
                            <tr>
                              <td borderColor="#000000" bgColor="#000000"> <div class="style20" align="center">
                                  九&nbsp;&nbsp;&nbsp;凤 </div></td>
                            </tr>
                            <tr>
                              <td vAlign="top" borderColor="#000000" align="middle" bgColor="#000000">
                                <table width="1000" border="3" align="center" cellPadding="10" cellSpacing="3">
                                  <tbody>
                                    <tr>
                                      <h2 style="font-family:arial;color:#FFFF99;font-size:20px;"><big><em><u>&ensp;九&ensp;凤&ensp;</u></em><big></h2>
                                        <td><span class="border style23"><p style="font-family:arial;color:#ff8000;font-size:20px;">栖息在建木顶端的九头鸟，有着近似凤凰的华丽羽毛。翼展宽大的九凤能扇出夹杂着剧毒的旋风。以前九凤并不以人族为敌，但自从人族败类偷取了九凤之卵，九凤就不再欢迎过去的人族朋友。</p></span></td>
                                    </tr>
                                  </tbody>
                                </table></td>
                            </tr>
                          </tbody>
                        </table></td>
                    </tr>
                    <tr bgColor="#000000">
                      <td vAlign="top" align="middle"> <table class="border5" borderColor="#666633" cellSpacing="20" cellPadding="0" width="369" border="0">
                          <tbody>
                            <tr>
                              <td borderColor="#000000" bgColor="#000000"> <div align="center">
                                  <img height="500" src="http://images.17173.com/hx/images/monster/pic/004.gif" width="700">
                                </div></td>
                            </tr>
                            <tr>
                              <td borderColor="#000000" bgColor="#000000"> <div class="style20" align="center">
                                  陆&nbsp;&nbsp;&nbsp;&nbsp;吾 </div></td>
                            </tr>
                            <tr>
                              <td vAlign="top" borderColor="#000000" align="middle" bgColor="#000000">
                                <table width="1000" border="3" align="center" cellPadding="2" cellSpacing="3">
                                  <tbody>
                                    <tr>
                                      <h2 style="font-family:arial;color:#FFFF99;font-size:20px;"><big><em><u>&ensp;陆&ensp;吾&ensp;</u>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;</em><big></h2>
                                      <td><span class="border style23"><p style="font-family:arial;color:#ff8000;font-size:20px;">受邪神的委派，占领昆仑虚的异族军团统帅，形象为九尾老虎。昆仑虚下的九层地宫中还躲藏着一批人族的勇士，其中不乏能力出众者。但是当陆吾亲身把守地宫大门之后，这批勇士再也没有勇气向外突击，被陆吾一个人围困在地宫底层。</p></span></td>
                                    </tr>
                                  </tbody>
                                </table></td>
                            </tr>
                          </tbody>
                        </table></td>
                    </tr>
                    <tr bgColor="#000000">
                      <td vAlign="top" align="middle"> <table class="border5" borderColor="#666633" cellSpacing="0" cellPadding="0" width="369" border="0">
                          <tbody>
                            <tr>
                              <td borderColor="#000000" bgColor="#000000"> <div align="center">
                                  <img height="500" src="http://images.17173.com/hx/images/monster/pic/005.gif" width="800">
                                </div></td>
                            </tr>
                            <tr>
                              <td borderColor="#000000" bgColor="#000000"> <div class="style20" align="center">
                                  烛&nbsp;&nbsp;&nbsp;&nbsp;龙 </div></td>
                            </tr>
                            <tr>
                              <td vAlign="top" borderColor="#000000" align="middle" bgColor="#000000">
                                <table width="1000" border="3" align="center" cellPadding="2" cellSpacing="3">
                                  <tbody>
                                    <tr>
                                      <h2 style="font-family:arial;color:#FFFF99;font-size:20px;"><big><em><u>&ensp;烛&ensp;龙&ensp;</u>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;</em><big></h2>
                                      <td><span class="border style23"><p style="font-family:arial;color:#ff8000;font-size:20px;">居住在朝歌山山洞中的邪神。人面龙身，能够呼风唤雨，令天地变色，擅长使用水系魔法。烛龙以吞噬人族婴儿为嗜，故被盘古放逐，独自躲藏在朝歌山某处山洞中。盘古势弱之后，烛龙再次现身为祸人间，为人族勇士所深恶痛绝。</p></span></td>
                                    </tr>
                                  </tbody>
                                </table></td>
                            </tr>
                          </tbody>
                        </table></td>
                    </tr>
                    <tr bgColor="#000000">
                      <td vAlign="top" align="middle"> <table class="border5" borderColor="#666633" cellSpacing="10" cellPadding="10" width="369" border="0">
                          <tbody>
                            <tr>
                              <td borderColor="#000000" bgColor="#000000"> <div align="center">
                                  <img height="350" src="http://images.17173.com/hx/images/monster/pic/006.gif" width="400">
                                </div></td>
                            </tr>
                            <tr>
                              <td borderColor="#000000" bgColor="#000000"> <div class="style20" align="center">
                                  雷&nbsp;&nbsp;&nbsp;神 </div></td>
                            </tr>
                            <tr>
                              <td vAlign="top" borderColor="#000000" align="middle" bgColor="#000000">
                                <table width="1000" border="3" align="center" cellPadding="10" cellSpacing="3">
                                  <tbody>
                                    <tr>
                                      <h2 style="font-family:arial;color:#FFFF99;font-size:20px;"><big><em><u>&ensp;雷&ensp;神&ensp;</u>&ensp;&ensp;&ensp;&ensp;</em><big></h2>
                                      <td><span class="border style23"><p style="font-family:arial;color:#ff8000;font-size:20px;">龙头人身，两爪放电。伏羲陵附近怪物的统帅，为金神手下掌管世间惊雷的低阶神祗。虽然对人族并无恶意，但受到上司指派也不得不与人族为敌。雷神对雷电魔法极为精通，且不会受到雷电的丝毫伤害。</p></span></td>
                                    </tr>
                                  </tbody>
                                </table></td>
                            </tr>
                          </tbody>
                        </table></td>
                    </tr>
                    <tr bgColor="#000000">
                      <td vAlign="top" align="middle"> <table class="border5" borderColor="#666633" cellSpacing="10" cellPadding="10" width="369" border="0">
                          <tbody>
                            <tr>
                              <td borderColor="#000000" bgColor="#000000"> <div align="center">
                                  <img height="287" src="http://images.17173.com/hx/images/monster/pic/007.gif" width="469">
                                </div></td>
                            </tr>
                            <tr>
                              <td borderColor="#000000" bgColor="#000000"> <div class="style20" align="center">
                                  强&nbsp;&nbsp;良 </div></td>
                            </tr>
                            <tr>
                              <td vAlign="top" borderColor="#000000" align="middle" bgColor="#000000">
                                <table width="1000" border="3" align="center" cellPadding="2" cellSpacing="3">
                                  <tbody>
                                    <tr>
                                      <h2 style="font-family:arial;color:#FFFF99;font-size:20px;"><big><em><u>&ensp;强&ensp;良&ensp;</u>&ensp;&ensp;&ensp;&ensp;</em><big></h2>
                                      <td><span class="border style23"><p style="font-family:arial;color:#ff8000;font-size:20px;">镇守轩辕台的邪神。虎头人身，下长四只马蹄，手握一杆长矛。强良的奔跑速度极快，一旦让他逃脱就很难再擒获，所以必须寻找到能够困住疆良的法宝才有机会战胜它。</p></span></td>
                                    </tr>
                                  </tbody>
                                </table></td>
                            </tr>
                          </tbody>
                        </table></td>
                    </tr>
                  </table></td>
              </tr>
            </table>
            <p>&nbsp;</p></td>
        </tr>
      </table></td>
  </tr>
</table><table width="778" height="0" border="0" cellpadding="0" cellspacing="0">
<tr>
  <TD width="25%"> <table width="778" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="11" height="84"><IMG SRC="http://images.17173.com/hx/images/index-92.gif" WIDTH=11 HEIGHT=84 ALT=""></td>
        <TD width="231" align="center" background="http://images.17173.com/hx/images/index-94.gif"><img src="http://images.17173.com/sgo/images/20060113103453.gif" width=128 height=81></TD>
        <TD width="524" background="http://images.17173.com/hx/images/index-94.gif"><font color="#666666">&copy;
          2001-2008 </font><a href="http://www.17173.com/" target="_blank"><font color="6B6B6B">www.17173.com&nbsp;
          </font></a><a href="http://www.sohu.com/about/copyright.html" target="_blank"><font color="6B6B6B">All
          Rights Reserved.<br>
          建议意见：</font></a><a href="http://800.17173.com/mem/net_m.php" target="_blank"><font color="red">????</font></a><font color="6B6B6B">　商务合作：<a href="http://800.17173.com/mem/customer_m.php" target="_blank">???</a><br>

  </body>
</html>
